.background-blue {
    background-color: #1b458f !important;
}
.nav-item.background-blue a {
    color: #fff !important;
}
.card-title {
    color: #fff !important;
    font-weight: bold;
}
.color-white {
    color: #fff !important;
}
.icon-name {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06a8f4;
    color: #fff !important;
    font-weight: bold;
}
.textMsg {
    transition: all 0.3s;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    font-size: 16px;
    text-align: center;
}
.showMsg {
    max-height: 50px;
    margin-top: 15px;
}
.textSuccess {
    color: green;
}
.textError {
    color: red;
}
.selectPlaces {
    border: none;
    border-bottom: 1px solid #d2d2d2;
}