<<<<<<< HEAD
$custom-file-bg: transparent !default;
$custom-file-border-width: 0 !default;
$custom-file-box-shadow: none !default;
$custom-file-border-radius: 0 !default;
$custom-file-line-height: 1.3 !default;
=======
$custom-file-bg: transparent !default;
$custom-file-border-width: 0 !default;
$custom-file-box-shadow: none !default;
$custom-file-border-radius: 0 !default;
$custom-file-line-height: 1.3 !default;
>>>>>>> 96bda403bd0744c487407eb683fc5a3d26245378
