<<<<<<< HEAD
// Drawer

// Sizing
$bmd-drawer-x-size: 240px !default;
$bmd-drawer-y-size: 100px !default;
=======
// Drawer

// Sizing
$bmd-drawer-x-size: 240px !default;
$bmd-drawer-y-size: 100px !default;
>>>>>>> 96bda403bd0744c487407eb683fc5a3d26245378
