<<<<<<< HEAD
$bmd-snackbar-bg: #323232 !default;
$bmd-snackbar-color: #fff !default;
$bmd-snackbar-min-width: 280px !default;
$bmd-snackbar-padding: .8rem 1.5rem !default;

$bmd-snackbar-min-width-sm: 100% !default;
=======
$bmd-snackbar-bg: #323232 !default;
$bmd-snackbar-color: #fff !default;
$bmd-snackbar-min-width: 280px !default;
$bmd-snackbar-padding: .8rem 1.5rem !default;

$bmd-snackbar-min-width-sm: 100% !default;
>>>>>>> 96bda403bd0744c487407eb683fc5a3d26245378
